@model WHMIS_Project.Models.login
@{
    ViewBag.Title = "Reset Password";
}

<form action="ResetPassword" data-toggle="validator" method="post" enctype="multipart/form-data" id="signup">

    <div class=" login-form">
        <h2 style="text-align:center">Reset Password</h2>

        <div class=" login-form-group">
            <div class=" row" id="emailtag">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    format: username@saskpolytech.ca
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Email:</label>
                </div>
                <div class=" inner-addon left-addon col-md-8">
                    <i class="glyphicon glyphicon-user"></i>
                    @Html.TextBoxFor(m => m.UserName, new
                     {
                             type = "email",
                             id = "email",
                             @class = "form-control input-sm input-tooltip",
                             placeholder = "Enter email",
                             required = "required",
                             autocomplete = "on",
                     })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class=" login-form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Old Password:</label>
                </div>
                <div class="inner-addon left-addon col-md-8">
                    <i class="glyphicon glyphicon-lock"></i>
                    @Html.TextBoxFor(m => m.OldPassword, new
                     {
                             type = "password",
                             id = "password",
                             @class = "form-control input-sm input-tooltip",
                             placeholder = "Enter old Password",
                             required = "required",
                             autocomplete = "off"
                     })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class=" login-form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>New Password:</label>
                </div>
                <div class="inner-addon left-addon col-md-8">
                    <i class="glyphicon glyphicon-lock"></i>
                    @Html.TextBoxFor(m => m.NewPassword, new
                     {
                             type = "password",
                             id = "Newpassword",
                             @class = "form-control input-sm input-tooltip",
                             placeholder = "New Password",
                             required = "required",
                             autocomplete = "off"

                     })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class=" login-form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Confirm Password:</label>
                </div>
                <div class="inner-addon left-addon col-md-8">
                    <i class="glyphicon glyphicon-lock"></i>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new
                     {
                             type = "password",
                             id = "Confirmpassword",
                             @class = "form-control input-sm input-tooltip",
                             placeholder = "New Password",
                             required = "required",
                             autocomplete = "off"

                     })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <span class="ptxt">Show Password</span>
            </div>
        </div>

        <button id="loginButton" type="submit">Change Password</button>

        <p class="login-change-p"><a href="login" class="reset">Cancel</a></p>
    </div>

</form>


<script>

    $(document).ready(function () {

        $(document).on('click', '.ptxt', function () {

            var x = document.getElementById("password");
            var y = document.getElementById("Confirmpassword");
             var z = document.getElementById("Newpassword");
            
            if (x.type === "password" || y.type === "password") {
                x.type = "text";
                y.type = "text";
                z.type = "text";
                $(".ptxt").text("Hide Password");
            } else {
                x.type = "password";
                y.type = "password";
                 z.type = "password";
                $(".ptxt").text("Show Password");
            }


        });

      

    });

</script>
@if (ViewBag.Message != null)
{
    <script>

    $(document).ready(function () {

        alert('@ViewBag.Message');
    });
    </script>
}
